.tutorial-page-wrapper{
    
    display: flex;
    justify-content:space-between ;
    align-items: start;
    margin-top: 20vh;
    gap: 2%;
}
@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {

}
