.siderbar-wrapper .sidebar {
  width: 350px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: #f9f9fb; */

  border-radius: 16px;

}

.siderbar-wrapper .sidebar .menu-card {
  background-color: #ffffff;
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow: 0 3px 10px rgba(249, 168, 212, 0.2);
  overflow: hidden;
  border: 1px solid #fce7f3;
  transition: all 0.3s ease-in-out;
}

.siderbar-wrapper .sidebar .menu-card .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 22px;
  font-weight: 600;
  font-size: 17px;
  color: #1e293b;
  cursor: pointer;
  background: #fff0f6;

  transition: background 0.3s ease;
}

.menu-card.expanded .menu-title {
  background-color: #ffe4f0;
}

.siderbar-wrapper .sidebar .menu-card .submenu {
  padding: 14px 20px 20px 20px;
  background-color: #fff;
}

.siderbar-wrapper .sidebar .menu-card .submenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.siderbar-wrapper .sidebar .menu-card .submenu ul li {
  margin-bottom: 10px;
}

.topic-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #334155;
  background-color: #f9fafb;
  border: 1px solid #f0f0f0;
  padding: 10px 14px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.3s ease;
  font-weight: 500;
}

.topic-btn:hover {
  background-color: #fdf2f8;
  border-color: #f9a8d4;
  box-shadow: 0 6px 12px rgba(255, 105, 180, 0.1);
}

.topic-btn.active {
  background-color: #ec4899;
  color: white;
  font-weight: 700;
  box-shadow: 0 6px 16px rgba(236, 72, 153, 0.3);
  transform: scale(1.02);
}

.menu-title i {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.menu-card.expanded .menu-title i {
  transform: rotate(180deg);
}
