.body-blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('/bi8.jpg');
  /* Use your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(16px) brightness(0.8);
  transition: background-image 0.5s, filter 0.3s;
  pointer-events: none;
}

.glassmorphism-navbar {
  background: rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(17px);
  transition: background 0.3s ease, border 0.3s ease;
  z-index: 9998;


}


.glassmorphism {
  background: rgba(255, 255, 255, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.01);

}