
body,
html {
  margin: 0;
  padding: 0;
  background: url('/bi5.jpg') no-repeat center center fixed;

}

.glassmorphism-navbar {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  transition: background 0.3s ease, border 0.3s ease;
  z-index: 9998;
  position: fixed;
  width: 100%;
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.179);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  transition: background 0.3s ease, border 0.3s ease;

}