
:root {
  --primary-color: #ff1f8e;
  --secondary-color: #ffbd84;
  --hover-gradient: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  --base-radius: 12px;
  --base-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  --hover-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  --font-primary: 'Segoe UI', sans-serif;
}

/* ========== ROOT CONTAINER ========== */
.learning-dashboard {
  font-family: var(--font-primary);
  background: linear-gradient(to bottom, #fdfbfb, #ebedee);
  min-height: 100vh;
  padding-top: 6%;
  box-sizing: border-box;
}

/* ========== HEADER SECTION ========== */
.learning-dashboard .dashboard-header {
  background: linear-gradient(to right, #fff0f6, #e0f2ff);
  color: rgb(215, 47, 131);
  padding: 20px 40px;
  box-shadow: 0 2px 6px rgba(11, 11, 11, 0.1);
  height: 200px;
}

.dashboard-header .logo {

  margin: 22px 0 0 5px;
  height: 40px !important;

}

.dashboard-header .logo h1{
  font-size: 35px;
  font-weight: 600;
}



.dashboard-header .nav-tabs {
  display: flex;
  gap: 28px;
  border-bottom: none;
}

.nav-tabs .tab-btn {
  background: none;
  margin: 25px 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  transform: translateY(-5px);
  color: rgb(219, 36, 158);

}

.tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(215, 47, 131);
}

/* ========== MAIN CONTENT ========== */
.learning-dashboard .dashboard-main {
  padding: 40px;
  background-color:  #fbf9fa;
  min-height: 70vh;
}

.dashboard-main .content-box {
  background-color: #ffffff;

  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.content-box .tab-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.content-box .tab-desc {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
